{% extends "base.html" %}

{% block content %}
    <div class="card bg-dark text-white">
        <div class="card-body">
            <h5 class="card-title">Find NJ Home Data</h5>
            <form method="POST">
                <div class="form-group">
                    <input class="query form-control" type="search" list="search" name="search" placeholder="Location" aria-label="Search" autocomplete="off">
                    <button class="search btn btn-success" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}